.file-upload {
    margin: 20px 0;
  }
  
  .file-input {
    
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid none;
    box-shadow: 0 2px 4px rgba(105, 105, 105, 0.421);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .file-input:hover {
    border-color: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .file-input:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  